# Application
NODE_ENV=production
PORT=8080

# Database
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=transaction_user
DATABASE_PASSWORD=transaction_pass
DATABASE_NAME=transaction_db

# Kafka
KAFKA_BROKERS=kafka:9092

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
